---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h1 class="post-list-heading">{{ page.list_title | default: nil }}</h1>

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

  {%- for year in posts_by_year -%}
  <h2 class="year-heading">{{ year.name }}</h2>
  <ul class="post-list">
    {%- for post in year.items -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endfor -%}
{%- endif -%}

</div>